@charset "UTF-8";
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(#00c1a2, #0b5f57);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.container {
    width: 80%;
    max-width: 500px;
}

.logo img{
    width: 80px;    
}

.brand{
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
}

.title h1{
    font-size: 60px;
    font-weight: 900;
    line-height: 1.1;
    margin: 40px 0;
}

.subtitle{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}

.help h3{
    font-size: 16px;
}

.help p{
    font-size: 14px;
    opacity: 0.9;
}