body {
    font-family: Arial;
    background: #f3f3f3;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.client {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 15px;
}
.map {
    width: 60px;
    height: 60px;
    background: #ddd;
    border-radius: 10px;
}
.order-card {
    background: white;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.items {
    color: #00a39d;margin: 15px;
    padding: 20px;
}
.confirm {
    margin-top: 15px;
    padding: 15px;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-between;
}
.steps {
    background: white;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
}
.buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.btn {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}
.done {
    background: #b7e2df;
}
.disabled {
    background: #eee;
    color: #999;
}
.confirm-btn {
    width: 90%;
    margin: 20px;
    padding: 18px;
    border-radius: 10px;
    background: #ddd;
    font-size: 16px;
}
    
