body {
    font-family: Arial;
    background: #f5f5f5;
    margin: 0;
}
 
.menu-container{
    width: 900px;
    margin: auto;border-radius: 40px;
    background: white;
    padding: 20px;
}

.header{
    background: #2e7d32;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 40px;
}

.header h1{
    margin: 0;
    font-size: 20px;
}

.menu{
    flex: 1;
    padding: 10px;
}

.column{
    flex: 1;
    padding: 10px;
}

.item{
    border-bottom: 1px solid #ddd;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.item h2{
    color: #2e7d32;
    margin: 0;
}

.item p{
    margin: 5px 0;
    color: #555;
}

.price{
    position: absolute;
    right: 10px;
    top: 15px;
    font-weight: bold;
    font-size: 18px;
}

.item:hover{
    background: #f0f0f0;
}